.hero_wrapper {
    margin-top: 20px;
}

.hero_top {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
    gap: 120px;
}

.heroText {
    font-size: 50px;
    max-width: 700px;
}

.storm_logo {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .storm_logo img {
    height: auto;
    display: block;
} */

.icosahedron {
    width: 500px;
    height: 500px;
    position: relative;
    display: flex;            
    align-items: center;       
    justify-content: center;   
    transform: translateY(50px);
}

@media (max-width: 990px) {
    .icosahedron {
        display: none;
    }
}

.cardContainer {
    display: flex;
    gap: 15px;
    justify-content: left;
    flex-wrap: wrap;
}

.card {
    flex: 1 1 250px;
    background: rgb(22, 22, 22);
    border-radius: 16px;
    padding: 20px;
    max-width: 310px;
    height: 150px;
    min-width: 200px;
    box-shadow: 0 0 3px rgba(245, 245, 245, 0.334);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.cardLabel {
    display: none;
    font-size: 12px;
    font-weight: 600;
    color: #c3c3c3;
    text-transform: uppercase;
}

.cardTitle {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
}

.cardDesc {
    font-size: 15px;
    color: #ffffff;
    line-height: 1.5;
    margin: 0;
}

.cardButton {
    margin-top: auto;
    padding: 12px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    transition: all 0.2s ease;
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

.filled {
    background-color: #3da9fc;
    color: #000;
    border: 0.13rem solid #3da9fc;
}

.filled:hover {
    background-color: #3da9fc;
    color: #000;
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(61, 169, 252, 0.5);
}

.outline {
    background-color: #000000ab;
    color: #3da9fc;
    border: 0.13rem solid #3da9fc;
}

.outline:hover {
    background-color: #3da9fc;
    color: #000;
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(61, 169, 252, 0.5);
}


