.card_wrapper {
    background-color: rgb(22,22,22); /* Matches the light beige tone */
    display: flex;
    padding: 40px;
    border-radius: 16px;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 69%;
    margin: auto;
    margin-top: 120px !important;
    margin-bottom: 100px !important;
}

.text_wrapper {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.header {
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
}

.header_subtitle {
    font-size: 18px;
    line-height: 1.6;
    color: #cacaca;
}

.article_button a {
    display: inline-block;
    padding: 12px 24px;
    background-color: transparent;
    border: 0.13rem solid #3da9fc;
    border-radius: 8px;
    font-weight: 500;
    text-decoration: none;
    color: #3da9fc;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.article_button a:hover {
    background-color: #3da9fc;
    color: white;
}

.sub_card {
    background-color: #3da9fcb1;
    padding: 32px;
    width: 200px;
    height: 160px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s ease, background-color 0.3s ease;
    cursor: pointer;
}

.sub_card:hover {
    /* transform: translateY(-5px); */
    background-color: #3da9fc;
}

.card_title {
    font-size: 35px;
    font-weight: 600;
    color: #ffffff;
}

.guide_arrow {
    font-size: 30px;
    align-self: flex-end;
    color: #ffffff;
}
